<!DOCTYPE html>
<html>
 
<head>
    <title>Passport with Sequelize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap core CSS -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./assets/css/signin.css" rel="stylesheet">
   
   


  
</head>
 
<body>
    <div class="container-fluid">
    <h2>Wellcome</h2>
    <h5>{{user.email}} are logged in.</h5>
  <h1>Hello World!</h1>
  <p>Resize the browser window to see the effect.</p>
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;">.col-sm-8
      <div class="row">
        <div class="col-sm-12" style="background-color:lightcyan;">
          
           
            <div class="row">
                <div class="col-sm-4"> <img class="hero-img draggable"   id="{{hero.stats.id}}" src="{{hero.stats.icon}}" style="width:70px;height:70px;z-index: 100;" ></img>  </div>
                <div class="col-sm-8"> <div style="width:300px;height:70px;">{{hero.stats.name}}</div>  </div>
               
               
                <div class="col-sm-4"> health:  {{hero.stats.health}} / {{hero.stats.health_max}}  </div>
                <div class="progress col-sm-8">
                        <div class="progress-bar progress-bar-success" role="progressbar"style="width:{{view.health_perc}}%">
                </div>  </div>

                <div class="col-sm-4"> sanity:  {{hero.stats.sanity}} / {{hero.stats.sanity_max}}  </div>
                <div class="progress col-sm-8">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{view.sanity_perc}}%">                    
                </div>  </div>



                <div class="col-sm-12"> ----------  </div>
                <div class="col-sm-12"> comb:  {{hero.stats.combat}}  </div>
                <div class="col-sm-12"> dex :  {{hero.stats.dextery}}  </div>
                <div class="col-sm-12"> int :  {{hero.stats.intelegence}}  </div>
                <div class="col-sm-12"> will:  {{hero.stats.will}}  </div>
           </div>   

            <p>other stats:  {{hero.stats}}</p>
        </div>
        <div class="col-sm-12" style="background-color:lightgray;">
             <div class="row">
                {{#hero.items}}
                <div class="col-sm-4" >
                    <img  class="img-thumbnail item-img draggable" src="{{img}}"  data-toggle="tooltip"  data-html="true" 
                             title="{{tooltip}}"  id="{{id}}" style="width:50px;height: :50px;" >
                </div>
                {{/hero.items}}
            </div>
            <p>your items:  {{hero.items}}</p>
            
        </div>
      </div>
    </div>
    <div class="col-sm-8" style="background-color:lavenderblush;">
         <div class="row">
            <div class="col-sm-4" id="info-crisis-text" style="background-color:lightcyan;">
                <div id="info-crisis-start">
                    <p>{{crisis.name}}</p>
                    <p>{{crisis.desc}}</p>
                    <button id="btn-crisis-challenge" style="background-color:lavenderblush;">challenge</button>
                </div>
                <div id="info-crisis-post" style="display:none;">
                    <div>{{{crisis.post_challenge.desc}}}</div>
                    <button id="btn-crisis-ok">ok</button>
                </div>
               

                <script>

                </script>
            </div>
            <div class="col-sm-8" id="info-crisis-img" style="background-color:rgb(228, 255, 224);">
                  <img  class="img" src="{{crisis.img}}" style="width:100%;" >
            </div>

             <div class="col-sm-12" id="info-actions-list" style="display:none;">
                    <p>current events</p>
                    <p>your goals:  {{hero.goals}}</p>
                    <p>your events pool:  {{hero.eventsPool}}</p>
                    
                     <row>
                     {{#hero.goals}}
                     <div class="goal-container col-sm-2" style="background-color: blueviolet;">
                    <img  class="img-goal" src="{{img}}" style="width:100%; height: 250px;" data-toggle="tooltip"  data-html="true"  title="{{desc}}" />
                    <div class="img-goal-overlay droparea" id="{{id}}" > <h2>do it!</h2></div>
                    <dive> {{name}}</dive>
                    </div>

                     {{/hero.goals}}
                     <div class="goal-send-container col-sm-12"style="text-align: center;">
                          <button id="btn-goal-next-turn" style="width:200px;height:50px; " onclick="sendNextTurn()">next turn</button>
                    </div>
                     </row>
                    </br>

<!--
                    <button id="btn-actions-do-1">do 1</button>
                    <button id="btn-actions-do-2">do 2</button>
                    <button id="btn-actions-do-3">do 3</button>
                    -->
                </div>
        </div>

    </div>
  </div>
</div>


    <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./assets/css/jquery-ui.css">
    <script src="./assets/js/jquery-ui.js"></script>
 
     <script>
        function checkIfHeroUsed(divNow){
            var foundCount = divNow.find(".hero-img.draggable").length;
//            var foundCount = divNow.length;
            if (foundCount > 0)
            {
                divNow.addClass("area-hero-used"); 
            }
            else
            {
                divNow.removeClass("area-hero-used"); 
            }
        };

        function sendNextTurn(){
        //get the input value
        //$someInput = $('#someInput').val();
        var dataToSend= {};
        //dataToSend.userid = 1;
        dataToSend.doActions = [
          /*  {   goal_id:10001
                ,hero_list:[101]
                ,item_list:[20001]
            }
            */
        ]; 
        //d find all goal to use
        {
            $(".area-hero-used").each(function( index ) {
                var newAction = {};
                newAction.goal_id = $( this ).prop("id");
                newAction.hero_list = [];
                newAction.item_list = [];
                console.log(" goal_id + : " + $( this ).prop("id") );
                $(this).find(".hero-img.draggable").each(function( index ) {

                    console.log("  hero_id + : " + $( this ).prop("id") );
                    newAction.hero_list.push($( this ).prop("id"));
                });
                $(this).find(".item-img.draggable").each(function( index ) {

                    console.log("  item_id + : " + $( this ).prop("id") );
                    newAction.item_list.push($( this ).prop("id"));
                });
                dataToSend.doActions.push(newAction);
            });
        }

        $.ajax({
            //the url to send the data to
            url: "/gameview",
            //the data to send to
            data: dataToSend,
            //type. for eg: GET, POST
            type: "POST",
            //datatype expected to get in reply form server
            dataType: "json",
            //on success
            success: function(data){
                //do something after something is recieved from php
               // alert('ajax done ok');
                //do update page here
            },
            //on error
            error: function(){
                //bad request
                alert('ajax done fail');
                //do reload page here
            }
        });
    }

$(document).ready(function(){
    $("[data-toggle=tooltip").tooltip();

    $("#btn-crisis-challenge").click(function(){
        $("#info-crisis-post").show(500);
         $("#btn-crisis-challenge").attr("disabled", true); 
          <!-- TODO - add effects of challenge(change stats, items list etc) -->
    });
    $("#btn-crisis-ok").click(function(){
        $("#btn-crisis-ok").hide(500);
        $("#info-crisis-text").hide(500);
        $("#info-crisis-img").hide(500);
        $("#info-actions-list").show(500);
    });

    $(".draggable").draggable( {revert: "invalid"});

    $(".droparea").droppable({ accept: ".draggable", 
           drop: function(event, ui) {
                  //  console.log("drop");
                   $(this).removeClass("border").removeClass("over");
             var dropped = ui.draggable;
             var srcDiv = ui.draggable.parent();
            var dstDiv = $(this);
            $(dropped).detach().css({top: 0,left: 0}).appendTo(dstDiv);      
            checkIfHeroUsed($(this));
            checkIfHeroUsed(srcDiv);
//            
                }, 
          over: function(event, elem) {
                  $(this).addClass("over");
                  // console.log("over");
          }
                ,
                  out: function(event, elem) {
                    $(this).removeClass("over");
                  }
                     });

});
    </script>


</body>
 
</html>