<!DOCTYPE html>
<html>
 
<head>
    <title>Passport with Sequelize</title>
        <!-- Bootstrap core CSS -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./assets/css/signin.css" rel="stylesheet">
</head>
 
<body>
    <div class="container-fluid">
    <h2>Wellcome</h2>
    <h5>{{user.email}} are logged in.</h5>
  <h1>Hello World!</h1>
  <p>Resize the browser window to see the effect.</p>
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;">.col-sm-8
      <div class="row">
        <div class="col-sm-12" style="background-color:lightcyan;">
            <p>hero name: {{hero.stats.name}}</p>
           
            <div class="row">
                <div class="col-sm-3"> health:  {{hero.stats.health}}  </div>
                <div class="progress col-sm-8">
                        <div class="progress-bar progress-bar-success" role="progressbar"style="width:{{hero.stats.health}}%">
                </div>  </div>

                <div class="col-sm-3"> sanity:  {{hero.stats.sanity}}  </div>
                <div class="progress col-sm-8">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{hero.stats.sanity}}%">                    
                </div>  </div>




                <div class="col-sm-3"> comb:  {{hero.stats.combat}}  </div>
                <div class="progress col-sm-8">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{hero.stats.combat}}%">                    
                </div>  </div>

                <div class="col-sm-3"> dex :  {{hero.stats.dextery}}  </div>
                <div class="progress col-sm-8">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{hero.stats.dextery}}%">                    
                </div>  </div>

                <div class="col-sm-3"> int :  {{hero.stats.intelegence}}  </div>
                <div class="progress col-sm-8">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{hero.stats.intelegence}}%">                    
                </div>  </div>

                <div class="col-sm-3"> will:  {{hero.stats.will}}  </div>
                <div class="progress col-sm-8">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{hero.stats.will}}%">                    
                </div>  </div>
           </div>   

            <p>other stats:  {{hero.stats}}</p>
        </div>
        <div class="col-sm-12" style="background-color:lightgray;">
            <p>your items:  {{hero.items}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-8" style="background-color:lavenderblush;">
        <p>current events</p>
        <p>your goals:  {{hero.goals}}</p>
        <p>your events pool:  {{hero.eventsPool}}</p>
    </div>
  </div>
</div>


</body>
 
</html>